[submodule "enfield/tools"]
	path = enfield/tools
	url = https://github.com/tim42/tools
[submodule "enfield/persistence"]
	path = enfield/persistence
	url = https://github.com/tim42/persistence
[submodule "third_party/ntools"]
	path = third_party/ntools
	url = git@github.com:tim42/tools.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/tracy"]
	path = third_party/tracy
	url = https://github.com/wolfpld/tracy.git
